.postHeadWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
.post-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
.post-meta-data {
    display: flex;
    flex-direction: column;
}
.postBox-wrapper {
    background-color: #101010;
    padding: 1rem;
    border-radius: 15px;
    width: 100%;
}
.post-media-wrapper {
    width: 65%;
    margin: auto;
}
.post-media-wrapper>img {
    width: 100%;
}

.post-comments-wrapper>span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: max-content;
    margin: auto;
    padding: 3px 10px;
}
.post-comments-wrapper>span:hover{
    background-color: #5a5a5a38;
    border-radius: 10px;
    cursor: pointer;
}
.post-comments-wrapper {
    text-align: center;
}
