.postBox-wrapper {
    background-color: #101010;
    padding: 1rem;
    border-radius: 15px;
    width: 100%;
}
.post-media-wrapper {
    width: 65%;
    margin: auto;
}
.post-media-wrapper>img {
    width: 100%;
}