.signup-section-content-form {
    width: max-content;
    margin: auto;
}

form.signup-section-content-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.signup-section-content-form-input>button {
    width: 100%;
}

form.signup-section-content-form>span {
    font-size: 1rem;
}

.signup-section-content-form-input>div {
    width: 100%;
}