/* Post boxes wrapper css */
.posts-boxes-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.posts-bottom-section{
    margin-top: 20px;
}
.timeline-filter {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}