@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* hide arrows from number type input fields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/** global css **/
section {
    padding: 5% 0;
}

.pageHead>h1{
    font-size: 40px;
    color: white;
    margin: 0px;
    margin-bottom: 12px;
}

@media only screen and (max-width:900px){
  
}

@media only screen and (max-width:600px){
    .pageHead>h1 {
      font-size: 26px;
      margin: 0px;
    }
}
