.banner-left-content>h1 {
    font-size: 42px;
    width: 90%;
    color: white;
    margin-top: 0px;
}
.banner-photo-wrapper {
    width: 90%;
}

@media only screen and (max-width: 900px) {
    .banner-left-content>h1 {
        font-size: 22px;
    }
    .banner-photo-wrapper {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .banner-left-content>h1 {
        font-size: 25px;
    }
    .banner-left-content{
        text-align: center;
    }
    .banner-photo-wrapper {
        margin: auto;
    }
}